$color-bg-main: rgb(207, 135, 135);
$color-player1-bg: rgb(110, 82, 77);
$color-player2-bg: rgb(165, 112, 112);
$color-last-score: rgb(133, 54, 54);
$color-player-score-bg: rgb(177, 51, 51);
$color-score-text: rgb(194, 173, 173);